<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSSistemaPuntoVentaClinico.Data.Properties.Settings.SistemaFacturacionMedicoConnectionString"
            connectionString="Data Source=JUANMARCELINOMD;Initial Catalog=SistemaFacturacionMedico;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSSistemaPuntoVentaClinico.Data.Properties.Settings.SistemaFacturacionMedicoConnectionString1"
            connectionString="Data Source=172.25.24.3;Initial Catalog=SistemaFacturacionMedico;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSSistemaPuntoVentaClinico.Data.Properties.Settings.SistemaFacturacionMedicoConnectionString2"
            connectionString="Data Source=JDIAZ0624;Initial Catalog=SistemaFacturacionMedico;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSSistemaPuntoVentaClinico.Data.Properties.Settings.SistemaFacturacionMedicoConnectionString3"
            connectionString="Data Source=172.26.24.8;Initial Catalog=SistemaFacturacionMedico;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="DSSistemaPuntoVentaClinico.Data.Properties.Settings.SistemaFacturacionMedicoConnectionString4"
            connectionString="Data Source=172.26.24.199;Initial Catalog=SistemaFacturacionMedico;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSSistemaPuntoVentaClinico.Data.Properties.Settings.SistemaFacturacionMedicoConnectionString5"
            connectionString="Data Source=JDIAZ0624;Initial Catalog=SistemaFacturacionMedico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>