<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DSPuntoVentaClinico" connectionString="Data Source=172.26.24.8; User=sa; Password=Agenda2008; Initial Catalog=SistemaFacturacionMedico;Integrated Security=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>